################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharp_Generics/obj
/CSharp_Generics/.vs/CSharp_Generics
/CSharp_Generics/bin/Debug/netcoreapp3.1
/CSharp_Deligates/.vs/CSharp_Deligates/v16
/CSharp_Deligates/obj
/CSharp_Deligates/bin/Debug/netcoreapp3.1
/CSharp_Events/.vs/CSharp_Events/v16
/CSharp_Events/bin/Debug/netcoreapp3.1
/CSharp_Events/obj
/CSharp_Deligates/.vs/CSharp_Deligates/DesignTimeBuild
